<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Story-Line</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="myApp" ng-controller="MainCtrl">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container-fluid">
    <div class="col-sm-10">
        <div id="bgVideoBox" >
            <video id="bgVideo" ng-src="{{pages[currentPage].videomp}}" autoplay loop muted preload="auto" ></video>
            <div id="videoControlsBar">
                <div class="row">
                    <button class="btn btn-primary col-xs-1" id="playpausebtn" ><img class="img-responsive" src="./images/pause.png"></button>
                    <div class="col-xs-7">
                        <input id="seekslider" type="range" min="0" max="100" value="0" step="1" >
                    </div>
                    <!--<p class="col-xs-2"><span id="curtimetext"></span> / <span id="durtimetext"></span></p>-->
                    <button class="btn btn-primary col-xs-1 " id="mutebtn"><img class="img-responsive" src="./images/mute.png"></button>
                    <div class="col-xs-3">
                        <input id="volumeslider" type="range" min="0" max="100" value="0" step="1" >
                    </div>
                </div>
            </div>
        </div>


       <div class="container-fluid" id="content">
            <div class="dummy"></div>
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
                <h2>{{pages[currentPage].title}}</h2>

                <p> {{pages[currentPage].description}}</p>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>
    <div class="col-sm-2 dark" id="sidebar">
        <div ng-repeat="page in pages">
            <p ng-click="showPage($index)">Title:{{page.title}}</p>
        </div>
    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="js/my-google-analytics.js"></script>
<script src="js/ejs_production.js"></script>
<script src="js/script.js"></script>
</body>
</html>
